.buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	width: 100%;
	padding: 0.2% 0.5%;
	border-radius: 10px;
}

.buttonWrapper:hover {
	background-color: #dfdfdf;
}

.button {
	width: 100%;
	cursor: pointer;
}

.buttonIcon {
	border: none;
	background: none;
	padding: 5px;
}

.active {
	color: #dfdfdf;
}
