.wrapper__fillProfile {
	display: flex;
	position: relative;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
}

.background__icon {
	position: absolute;
}

.wrapper__auth {
	position: absolute;
	width: 61%;
	display: flex;
	flex-direction: row;
	border-radius: 13px;
	background-color: white;
	border: 4px #eaebec solid;
	box-shadow: 1px 4px 20px #dadee3;
}

.backrgoundMan__left {
	position: relative;
	z-index: 1;
	width: 30%;
	display: flex;
	justify-content: end;
	align-items: end;
	margin-right: -10%;
}

.backrgoundMan__right {
	width: 15%;
	margin-left: -5%;
	padding-right: 5%;
	display: flex;
	justify-content: start;
	align-items: end;
}
