.meetingForm {
	display: flex;
	width: 80%;
	flex-direction: column;
	background-color: #f5f8fa;
	box-shadow: 5px 5px 20px #c4c4c4;
	padding: 3% 4%;
	box-sizing: border-box;
    border-radius: 25px;
}

.meetingForm__notActive {
	display: none;
}

.wrapper__meetingForm__header {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 4%;
}

.meetingForm__header {
	font-size: var(--header-create-meeting-font-size);
	font-weight: var(--header-create-meeting-font-weight);
}

.meetingForm__addParams {
	width: 100%;
    height: 3%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.addParams__input {
	width: 5%;
    padding-bottom: 5%;
}

.input__checkbox {
	border-radius: 4px;
	width: 1rem;
    height: 1rem;
}

.addParams__label {
	width: 95%;
	display: flex;
	justify-content: flex-start;
}

.input__label {
	font-size: var(--additionalText-create-meeting-font-size);
	font-weight: var(--main-font-weight);
}

.meetingForm__buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wrapper__button__cancel {
	width: 40%;
}

.wrapper__button__createEvent {
	width: 40%;
}
