.wrapper__meetCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.wrapper__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text {
    text-align: left;
    font-size: var(--header-meet-card-font-size);
    font-weight: var(--header-meet-card-font-weight);
}

.wrapper__separator {
    width: 100%;
    padding: 2% 0;
}