.mainPage {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #9e9e9e;
}

.profile {
	display: flex;
	flex-direction: column;
	width: 40vw;
	height: 60vh;
	background-color: #d9d9d9;
	border-radius: 30px;
	box-sizing: border-box;
}

.profile__Level {
	height: 8.95rem;
	display: flex;
	flex-direction: row;
	margin: 0 4% 0 4%;
}

.border__bottom__level {
	border-bottom: 1px solid black;
}

.wrapper__profile__icon {
	margin-left: 3%;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.profile__icon {
	width: 6.375rem;
	height: 6.375rem;
	border-radius: 100%;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
}

.wrapper__profile__initials {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.resize__container {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	height: 20%;
	min-width: 40%;
	max-width: 50%;
}

.resize__input,
.resize__text {
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 2px 10px;
	border-radius: 10px;
	height: 100%;
	font-weight: var(--main-font-weight);
	font-family: var(--main-font-family);
	font-size: var(--profile-fontSize);
	text-align: center;
}

.resize__text {
	display: inline-block;
	visibility: hidden;
	white-space: pre;
}

.resize__input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
