.wrapper__contacts {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.wrapper__contacts__maincontent {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.wrapper__userPath {
	width: 35%;
	display: flex;
	box-sizing: border-box;
	padding: 0 2%;
	border-right: 0.2px #bfbfbf solid;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
}

.contacts__mainHeader {
	width: 100%;
	padding: 5% 5% 2%;
	box-sizing: border-box;
}

.mainHeader {
	font-size: var(--header-contacts-fontSize);
	font-weight: var(--main-font-weight);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts__header__h2 {
	width: 100%;
	padding-bottom: 3%;
}

.header__h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--text-welcome-fontSize);
	font-weight: var(--main-font-weight);
}

.contacts__form {
	display: flex;
	flex-direction: column;
}

.contacts {
	display: flex;
	flex-direction: column;
	padding: 0 5%;
}

.wrapper__inputs {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0 0 3%;
}

.wrapper__input__lfs {
	width: 48%;
	padding-right: 4%;
}

.wrapper__input__rfs {
	width: 48%;
}

.profile__footer {
	border-top: 0.2px #bfbfbf solid;
	display: flex;
	justify-content: flex-end;
	padding: 3% 5%;
	align-items: center;
	border-bottom-left-radius: 28px;
	border-bottom-right-radius: 28px;
}

.wrapper__buttonNext {
	width: 20%;
}
