.wrapper__userPath {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	box-sizing: border-box;
}

.userPath__list {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.list {
	counter-reset: myCounter;
	padding: 0;
}

.list__elementOfList {
	font-size: var(--text-userPath-fontSize);
	position: relative;
	display: block;
	color: black;
	text-decoration: none;
	border-radius: 0.3em;
	transition: 0.3s ease-out;
}

.list__elementOfList::before {
	counter-increment: myCounter;
	content: counter(myCounter);
	background: #d9d9d9;
	text-align: center;
	line-height: normal;
	border-radius: 100%;
	margin: 0 10px 0 0;
	padding: 0.7em 1em;
}

.lineSeparator {
	margin-left: 7.5%;
}

.elementOfList__active::before {
	background: #fff;
	border: 1px solid #005bd3;
}
