.wrapper__user__assistance {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	margin-top: 3%;
}

.wrapper__remember__entry__input {
	display: flex;
}

.remember__entry__input {
	border-radius: 4px;
	margin-right: 8%;
	background-color: #d9d9d9;
	cursor: pointer;
}

.label__remember__entry__input {
	white-space: nowrap;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--label-header-fontSize);
}

.wrapper__forgot__password {
	display: flex;
	justify-content: flex-end;
}

.forgot__password {
	outline: none;
	text-decoration: none;
	color: black;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--label-header-fontSize);
}

.forgot__password:visited {
	color: black;
}

.forgot__password:hover {
	color: #850000;
}

.forgot__password:active {
	color: #e70000;
}

.wrapper__create__account {
	width: 100%;
	margin-top: 8%;
}
