.firstHalf {
	position: absolute;
	display: flex;
	width: 50%;
	min-height: 100vh;
	background-color: gray;
}

.register {
	width: 50%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.register__window {
	width: 50%;
	padding: 3%;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	border-radius: 30px;
}

.window__header {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: inherit;
	margin-bottom: 10%;
}

.window__input {
	width: 100%;
	font-size: 1rem;
	padding: 3%;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #d9d9d9;
	border: none;
	margin-top: 1%;
	margin-bottom: 4%;
}

.window__input:active {
	border: none;
}

.text__fontFamily {
	font-family: Inter, sans-serif;
	font-weight: lighter;
}

.register__header__fontSize {
	font-size: 1.875rem;
}

.input__header__fontSize {
	font-size: 1.063rem;
}

.label__header__fontSize {
	font-size: 0.938rem;
}

.wrapper__input__submit {
	width: 100%;
	margin-top: 10%;
}

.wrapper__input__submit:focus {
	border: 10px #000;
}

.input__submit {
	width: 100%;
	background-color: #d9d9d9;
	border-radius: 10px;
	border: none;
	padding: 3%;
	cursor: pointer;
}

.input__submit:active {
	background-color: #a9a9a9;
}
