.hidden__block {
	display: none;
}

.firstHalf {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	min-height: 100vh;
}

.register {
	box-sizing: border-box;
	width: 50%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.wrapper__inputs {
	display: flex;
	flex-direction: column;
	padding: 8% 0 0;
}

.wrapper_input {
	margin: 8% 0 0;
}

.wrapper__header__error {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register__window__error__header {
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--error-fontSize);
}

.register__window {
	width: 50%;
	padding: 3%;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	border-radius: 30px;
}

.window__header {
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: inherit;
	margin-bottom: 10%;
}

.window__input {
	width: 100%;
	font-size: 1rem;
	padding: 3%;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #d9d9d9;
	border: none;
	margin-bottom: 4%;
}

.window__input__error {
	background-color: #e3b3b3;
}

.window__input:active {
	border: none;
}

.inputField__header {
	margin-bottom: 1%;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--inputField-fonstSize);
}

.register__header {
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-size: var(--register-fontSize);
}

.label__header__fontSize {
	font-size: 0.938rem;
}

.wrapper__input__submit {
	display: flex;
	width: 100%;
	margin-top: 10%;
}

.wrapper__input__submit:focus {
	border: 10px #000;
}

.wrapper__buttonTextLink {
	width: 100%;
}

.input__submit:active {
	background-color: #a9a9a9;
}
