.homePage {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.homePage__header {
	width: 100%;
	display: flex;
	border-bottom: 1px solid #000;
	flex-direction: row;
}

.header__text {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	padding: 1% 2%;
}

.text {
	font-size: var(--homePage-header-font-size);
	font-weight: var(--homePage-header-font-weight);
}

.header__buttonOfMeetings {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	padding: 1% 4% 1% 0;
}

.buttonOfMeetings {
	background-color: #ff9e00;
	color: white;
	outline: none;
	border-radius: 20px;
	font-weight: var(--homePage-header-button-font-weight);
	font-size: var(--homePage-header-button-font-size);
	border: 0px;
	padding: 1% 3%;
	box-shadow: 5px 4px 19px #808080;
}

.buttonOfMeetings:hover {
	box-shadow: none;
}

.buttonOfMeetings:active {
	box-shadow: inset 5px 4px 25px #505050;
}

.homePage__mainContent {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.mainContent__iconMan {
	width: 50%;
	height: 81vh;
	display: flex;
	align-items: flex-end;
}

.mainContent__meetings {
	height: 81vh;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #ff9e00;
}

.mainContent__form {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.wrapper__hidden {
	display: none;
}