* {
	margin: 0;
	padding: 0;
	font-family: Inter, sans-serif;
	font-weight: lighter;
}

:root {
	--main-font-family: inter, sans-serif;
	--main-font-weight: 450px;
	--register-fontSize: 2.25rem;
	--inputField-fonstSize-Auth: 1.125rem;
	--label-fontSize-Auth: 1.125rem;
	--inputField-fonstSize-Prof: 0.938rem;
	--label-fontSize-Prof: 0.938rem;
	--error-fontSize: 1.4rem;
	--additionalText-fontSize: 0.75rem;
	--header-welcome-fontSize: 2.344rem;
	--text-welcome-fontSize: 1.125rem;
	--text-userPath-fontSize: 0.813rem;
	--header-contacts-fontSize: 2.25rem;
	--header-choice-activity: 1.875rem;
}
