.wrapper__textField {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper__labels {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1%;
}

.wrapper__mainLabel {
	width: 100%;
	display: flex;
	align-items: flex-start;
}

.mainLabel {
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
}

.wrapper__helpLabel {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.helpLabel {
	color: rgb(0 91 211 / 100%);
	text-decoration: none;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
}

.wrapper__helpLabel__hidden {
	display: none;
}

.wrapper__input {
	width: 100%;
}

.input {
	pointer-events: all;
	width: 100%;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	border: 0.66px solid rgb(138 138 138 / 100%);
	background-color: rgb(253 253 253 / 100%);
}

.inputSingle__padding {
	padding: 1% 2%;
}

.inputDouble__padding {
	padding: 2% 3%;
}

.input:hover {
	background-color: rgb(250 250 250 / 100%);
}

.input:focus {
	outline: none;
	outline-offset: 0;
	border: 0.66px solid #ff9e00;
}

.input__error {
	border: 0.66px solid rgb(142 31 11 / 100%);
	background-color: rgb(254 233 232 / 100%);
}

.no__hover {
	pointer-events: none;
	cursor: pointer;
}

.wrapper__hidden {
	display: none;
}

.wrapper__error__display {
	display: flex;
}

.wrapper__errorLabel {
	padding-top: 1%;
	width: 100%;
	flex-direction: row;
}

.wrapper__errorIcon {
	padding: 0 2% 0 1%;
}

.wrapper__label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.errorLabel {
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	color: rgb(142 31 11 / 100%);
}

.wrapper__additionalText {
	padding-top: 1%;
}

.additionalText {
	font-size: var(--additionalText-fontSize);
	color: #616161;
}
