.wrapper__activity {
	width: auto;
	display: flex;
	padding: 1% 4%;
	background-color: #fff;
	cursor: pointer;
	margin-bottom: 2%;
	border-radius: 8px;
	box-sizing: border-box;
	border: 3px solid #e3e3e3;
}

.wrapper__activity__active {
	border: 3px solid #ff9d10;
	background-color: #ff9d10;
}

.activity {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--additionalText-fontSize);
	font-weight: 450;
	background-color: #fff;
}

.activity__active {
	color: #fff;
	background-color: #ff9d10;
}
